@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    font-family: $main_font;
    color: #fff;


    
    header {
        height: 7rem;
        font-size: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container{
            max-width: 1300px;
            margin: 0 auto;
            padding: 1rem;
        }
        img {
            max-width: 70%;
        }
        ul {
            list-style: none;
            display: flex;
            text-transform: uppercase;
            overflow: hidden;
            li {
                margin: 1.3rem;
                display: inline-block;
                color: $black;
                text-decoration: none;
                font-weight: 600;
                padding: 2.7rem 0;
                &.active,
                &:hover {
                    border-bottom: 5px solid $lightblue;
                    transition: 0.3s;
                }
            }
        }
    }

    footer {
        background-image: url(../img/footer-bg.jpg);
        min-height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div {
        display: flex;
        justify-content: space-between;
        .container {
            max-width: 1300px;
            margin: 0 auto;
            padding: 0;
        }
        .list {
            display: flex;
            height: 100%;
        }
        .title {
            font-size: 1.5em;
            line-height: 3em;
            font-weight: bold;
            text-transform: uppercase;
        }
        .list>ul {
            padding: 1.7em;
        }
        li {
            list-style: none;
            line-height: 1.5em;
            text-decoration: none;
            color: $icons;
        }
    }
    .imageFooter {
        width: 600px;
        height: 430px;
        background-image: url(../img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    

}
